.blank-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full screen height */
    background-color: #f8f9fa;
    color: #333;
  }
  
  .blank-page h2 {
    font-size: 2rem;
    margin-bottom: 10px;
    color: #007bff;
  }
  
  .blank-page p {
    font-size: 1.2rem;
    margin-top: 5px;
    color: #666;
  }
  